.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px 0;
  position: relative;

  &__nav-list {
    display: flex;
    text-transform: uppercase;
    padding-bottom: 16px;
  }

  &__nav-link {
    padding: 0 16px 30px 16px;
    line-height: 19.2px;
    transition: all 0.25s ease-out;
  }

  &__nav-link:hover {
    color: var(--c-primary);
  }

  &__nav-link.active {
    color: var(--c-primary);
    font-family: 'Raleway600';
    border-bottom: 2px solid var(--c-primary);
  }

  &__logo {
    text-align: center;
  }

  &__other {
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 22px;
    justify-content: flex-end;
    position: relative;
    line-height: 28.8px;
    font-family: 'Raleway500';
  }

  &__currency {
    padding: 5px 16px 5px 10px;
    position: relative;
  }

  &__currency::after {
    content: url('../../assets/icons/expand.svg');
    margin-left: 10px;
    position: absolute;
  }

  &__currency.active::after {
    content: url('../../assets/icons/roll.svg');
  }

  &__cart {
    background-image: url(../../assets/icons/cart.svg);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    position: relative;
  }

  &__total {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 20px;
    height: 20px;
    background-color: #000;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    font-size: 14px;
    line-height: 16.41px;
  }

  &__currencies {
    z-index: 10;
    position: absolute;
    top: 39px;
    right: -25px;
    background-color: #fff;
    filter: drop-shadow(0px 4px 35px rgba(168, 172, 176, 0.19));
  }

  &__currencies-btn {
    padding: 11px 28px 11px 22px;
    width: 100%;
    height: 100%;
    text-align: left;
  }

  &__currencies-item:first-child > button {
    padding-top: 21px;
  }

  &__currencies-item:last-child > button {
    padding-bottom: 21px;
  }

  &__currencies-btn:hover {
    background-color: #eee;
  }
}

.header > * {
  flex: 1;
}
