.gallery {
  display: flex;
  align-items: flex-start;
  gap: 40px;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-height: 511px;
    overflow-y: auto;
  }

  &__list::-webkit-scrollbar {
    background-color: #fff;
    width: 8px;
  }

  &__list::-webkit-scrollbar-thumb {
    background-color: var(--c-text);
    border-radius: 9em;
  }

  &__item {
    cursor: pointer;
  }

  &__current {
    width: 610px;
    max-height: 511px;
    object-fit: contain;
  }

  &__img {
    max-width: 80px;
    display: block;
  }

  &__img-wrapper.out-of-stock {
    position: relative;
    color: #8d8f9a;

    &::after {
      content: 'out of stock';
      text-transform: uppercase;
      line-height: 38.4px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 24px;
    }

    & > img {
      opacity: 0.5;
    }
  }
}
